<section class="tools-first-section">
  <div class="tools-first-section__container">

    <app-section-header
      subtitle="Ferramentas"
      title="Ferramentas de Processamento de Imagens"
    ></app-section-header>

    <div class="tools-first-section__cards">
      <div class="tools-first-section__cards-container">
        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
          url="brightness"
        >
        </app-image-text-card>

        <app-image-text-card
          title="Ajustar Contraste"
          description="Ajuste o contraste da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>

        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>


        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>

        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>


        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>

        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>


        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
        >
        </app-image-text-card>

      </div>

    </div>

  </div>
</section>
