<nav>
  <div class="navbar__container">
    <div class="navbar__left-list">
      <ul>
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="/tools">Ferramentas</a></li>
      </ul>
    </div>

    <div class="navbar__logo">
      <a href="">Image Processor</a>
    </div>

    <div class="navbar__right-list">
      <ul>
        <li><a routerLink="/documentation">Documentação</a></li>
        <li><a href="https://github.com/devmarcosvinicius/image-processor" target="_blank">GitHub</a></li>
      </ul>
    </div>

  </div>
</nav>
