<section class="first-section">
  <div class="first-section__container">
    <div class="first-section__space"></div>
    <h1 class="first-section__title">
      Online e Gratis <br>
      <strong>Image Processor</strong> <br>
      Muitas ferramentas para você processar imagens. <br>
    </h1>
    <p class="first-section__description">
      O pacote para todas as suas necessidades de processamento de imagens diretamente no seu navegador da web,
      tudo gratuito. O único limite é a sua imaginação!
    </p>

    <div class="first-section__buttons">
      <a routerLink="/tools">
        <button class="first-section__button">
          Começar
        </button>
      </a>

      <a routerLink="/documentation">
        <button class="first-section__button">
          Documentação
        </button>
      </a>

    </div>
  </div>
</section>
