<section class="tools-section">
  <app-section-header
    subtitle="Ferramentas"
    title="Ferramentas de Processamento de Imagens"
  >
  </app-section-header>

  <app-right-image-card
    subtitle="Contraste"
    title="Ajuste de Contraste"
    button="Usar Ferramenta"
    imgSrc1="assets/contrast/vertical/vertical-negative-contrast.webp"
    imgSrc2="assets/contrast/vertical/vertical-original-contrast.webp"
    imgSrc3="assets/contrast/vertical/vertical-positive-contrast.webp"
  ></app-right-image-card>

  <app-left-image-card
    subtitle="Brilho"
    title="Ajuste de Brilho"
    button="Usar Ferramenta"
    imgSrc1="assets/brightness/vertical/vertical-negative-brightness.webp"
    imgSrc2="assets/brightness/vertical/vertical-original-brightness.webp"
    imgSrc3="assets/brightness/vertical/vertical-positive-brightness.webp"
  ></app-left-image-card>

</section>
