<section class="side-menu__container">
  <div class="side-menu__title">
    <h3 class="side-menu__resize-title">Resize</h3>
    <img src="./assets/icons/cancel-icon.svg" class="side-menu__cancel-icon" width="24" height="24" loading="lazy" alt="cancel icon.">
  </div>

  <div class="side-menu__resize-settings__container">
    <div class="side-menu__resize-settings">
      <label>
        Altura
        <input type="number" placeholder="Pixel">
      </label>

      <label>
        Largura
        <input type="number" placeholder="Pixel">
      </label>

    </div>
  </div>

  <div class="side-menu__bottoms">
    <button class="tool-button negative">cancelar</button>
    <button class="tool-button positive">aplicar</button>
  </div>
</section>
