<div class="right-image-card__container">
  <div class="right-image-card__left">
    <span class="right-image-card__left__category">{{ subtitle }}</span>
    <h2 class="right-image-card__left__title">{{ title }}</h2>
    <p class="right-image-card__left__description">
      {{ description }}
    </p>
    <button>{{ button }}</button>
  </div>

  <div class="right-image-card__right">
    <div class="right-image-card__right__box">
      <div class="right-image-card__right__box__images">
        <img src="{{ imgSrc1 }}" alt="">
        <img src="{{ imgSrc2 }}" alt="">
        <img src="{{ imgSrc3 }}" alt="">
      </div>

      <div class="right-image-card__right__box-glow"></div>
    </div>
  </div>
</div>
