/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Segoe UI", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  min-height: 100vh;

  background-color: #0a0f20;
  background-image: radial-gradient(ellipse 40% 100% at 60% -10%, rgba(119, 138, 232, .3), rgba(119, 138, 232, 0));
}
section {
  gap: 250px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input[type=email], input[type=number], input[type=password], input[type=text], input[type=url], textarea {
  appearance: textfield;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #383a3e;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  text-align: right;

  overflow: hidden;
  height: 28px;
  width: 55px;
  padding-left: 4px;
  padding-right: 4px;
  transition: all .15s linear;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.positive {
  background: linear-gradient(200deg, #00a3da, #09c) 50% 50%;
  background-size: 100%;
}

.positive:hover {
  box-shadow: 0 0 15px #0099cc99;
}

.negative {
  border: 2px solid #424549;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, .25);
}

.negative:hover {
  background: #ffffff0d;
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px #424549;
  color: rgba(255, 255, 255, 0.9);
}

.tool-button {
  gap: 15px;
  height: 30px;
  min-height: 30px;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 15px transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-decoration: none;;
  transition: all .15s linear;
  user-select: none;
  white-space: nowrap;
}
